.row-fluid 
  .span12

    .row-fluid
      .span9.title
        %h5= book.full_name
        %p.isbn= "ISBN-13: #{book.isbn13}"
        %p.publiser!= "Editorial: <b>#{book.publisher.name}</b>"
        %p.publiser= "Fecha publicación: <b>#{book.published_at.strftime("%d %B %Y")}</b> ".html_safe
        .authors
          %span Authors
          != book.authors.map{ |author| link_to author.full_name, "#" }.join(" ")
        %p.description= book.description
      .span3.image.pagination-centered
        = image_tag "0#{(book.id % 10)}.jpg", width: "200px"

    .row-fluid.book-item-footer
      .span3
        = button_to "Agregar a carrito", cart_items_path(book_inventory_id: book.current_price.id), remote: true, class: "btn btn-primary"
      .span6
      .span3
        .price.alert.alert-info
          %p= "$ #{number_with_precision(book.current_price.sale_price, precision: 2)}"
