%h3{style: "text-align:center"}
  Listado de compras
%br
%br
%table.table
  %tr
    %th
    %th Fecha
    %th Cant.
    %th Total
    %th
  - @sales.each_with_index do |sale, i|
    %tr
      %td= i + 1
      %td= sale.updated_at.strftime("%e/%m/%Y")
      %td= sale.items_count
      %td= "$ #{sale.total}"
      %td= link_to "Ver compra", cart_url(sale), class: "btn btn-primary"
%br
%br
