%h3{style: "text-align:center"}
  Listado de compras
%br
%br
%table.table
  %tr
    %th
    %th Fecha
    %th Cant.
    %th Total
    %th
  - @purchases.each_with_index do |purchase, i|
    %tr
      %td= i + 1
      %td= purchase.updated_at.strftime("%e/%m/%Y")
      %td= purchase.items_count
      %td= "$ #{purchase.total}"
      %td= link_to "Ver compra", cart_url(purchase), class: "btn btn-primary"
%br
%br
