%h3{style: "text-align:center"}
  Compra actual
%br
%br
%p= @sale.updated_at.strftime("Fecha: %e de %B del %Y")
%p== Items: <b>#{@sale.items_count}</b>
%h5= "Total: $ #{@sale.total}"
%br
%br
%table.table{border: '0px', style:'margin-bottom: -10px'}
  %tr
    %th
    %th Unid.
    %th ISBN
    %th Título
    %th P.U
    %th Subtotal
  - @sale.cart_items.each_with_index do |item, i|
    %tr
      %td= i +1
      %td= item.quantity
      %td= item.book.isbn13
      %td= item.book.full_name
      %td= item.book.current_price
      %td= item.subtotal
  %tr
    %td{colspan: 3}= link_to "Ver todas las compras", sales_path, class: "btn btn-info", style: "margin-top: 90px"
    %td{colspan: 3, style: 'text-align: right'}= link_to "Guardar PDF", cart_url(@sale, format: :pdf), target: :_blank, class: "btn btn-primary", style: "margin-top: 90px"
