%h2 Iniciar sesión
= simple_form_for(resource, :as => resource_name, :url => create_session_path, :html => {:class => 'form-vertical' }) do |f|
  = f.input :email, autofocus: true, label: "Email"
  = f.input :password, label: "Contraseña"
  = f.input :remember_me, label: "Recordar", as: :boolean if devise_mapping.rememberable?
  = f.button :submit, "Iniciar sesión", :class => 'btn-primary'
= render "devise/shared/links"
