!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "The Happy Litte Book"
      %meta{:content => content_for?(:description) ? yield(:description) : "Thehappylittebook", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
        = csrf_meta_tags
        = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    %header.navbar.navbar-fixed-top
      %nav.navbar-inner
        .container.main-menu
          = render 'layouts/navigation'
    #main{:role => "main"}
      .container
        .content
          .row-fluid
            .span12
              = render 'layouts/messages'
              = yield

          %footer
    #hidden-cart{style: "display: none;"}
      = yield(:hidden_cart)
      / ! end of .container
    / ! end of #main
